version: '3.3'
services:
  db:
    image: postgres:13.0-alpine
    volumes:
      - /var/lib/postgresql/data/
    env_file:
      - ./.env
  backend:
    image: roman73/foodgram_backend:latest
    command: >
      sh -c "python manage.py makemigrations users &&
             python manage.py makemigrations  online_service &&
             python manage.py makemigrations api_foodgram &&
             python manage.py migrate &&
             python manage.py collectstatic --no-input &&
             python manage.py init_admin &&
             python manage.py loaddata dump.json &&
             gunicorn foodgram.wsgi:application --bind 0:8000"
    restart: always
    volumes:
      - static_value:/app/static/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - ./.env
  frontend:
    image: roman73/foodgram_frontend:latest
    volumes:
      - ../frontend/:/app/result_build/
    depends_on:
      - db
  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    depends_on:
      - backend
volumes:
  static_value:
  media_value:
